.transfer__container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.transfer__main_content {
	height: 700px;
	width: 1000px;
	display: flex;
	flex-direction: column;
}
.transfer__main_content_upper {
	display: flex;
	flex-direction: row;
}
.transfer__main_content_lower {
	display: flex;
	flex-direction: row;
}
.transfer__main_content_lower {
	display: flex;
	flex-direction: row;
}
.transfer__shortcut {
	background-color: rgb(38, 44, 56);
	width: 47%;
	height: 320px;
	border: solid 1px rgb(85, 108, 149);
	margin: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.transfer__shortcut_upper {
	width: 96.25%;
}
.transfer__shortcut_title {
	width: 100%;
	margin-left: 10px;
}
.transfer__shortcut_title h1 {
	color: rgb(61, 230, 235);
}

.transfer__shortcut_logo_img {
	height: 250px;
}
.transfer__shortcut_logo_img_store {
	height: 120px;
}
.transfer__content {
	width: 100%;
	height: 120px;
	background-color: rgb(51, 56, 68);
	display: flex;
	flex-direction: row;
	align-items: center;
}
.transfer__content_left {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: solid white 2px;
	width: 120px;
}
.transfer__content_right {
	color: white;
	display: flex;
	flex-direction: column;
	width: 120px;
	margin-left: 20px;
}
.transfer__shortcut:hover {
	border: 2px solid rgb(61, 230, 235);
}
