.itemtransfermarket__container {
	width: 100%;
	height: 200px;
	background-color: rgb(34, 39, 56);
	border-bottom: 1px solid rgb(61, 230, 235);
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.itemtransfermarket__container:hover {
	background-color: rgb(51, 56, 68);
}
.itemtransfermarket__image {
	height: 150px;
	width: 170px;
	border: 1px solid rgb(196, 247, 80);
	margin: 20px;
	background-color: rgb(28, 31, 38);
}
.itemtransfermarket__image_img {
	height: 150px;
	width: 170px;
}
.itemtransfermarket__details {
	margin-left: 10px;
	display: flex;
	width: 100%;
	flex-direction: column;
	height: 100%;
}
.itemtransfermarket__details h1 {
	margin-top: 10px;
	margin-bottom: 20px;
	color: rgb(61, 230, 235);
}
.itemtransfermarket__details h5 {
	margin-bottom: 20px;
}
.itemtransfermarket__container_left {
	display: flex;
	flex-direction: row;
}
.itemtransfermarket__button_div {
	margin-right: 20px;
	flex-direction: column;
	display: flex;
	height: 80%;
	justify-content: space-around;
}
.itemtransfermarket__button {
	height: 35px;
	border: 1px solid rgb(196, 247, 80);
	color: white;
	font-weight: 400;
	background-color: rgb(28, 31, 38);
	width: 150px;
}
.itemtransfermarket__details_bidding {
	display: flex;
	flex-direction: row;
}
.itemtransfermarket__details_left {
	margin-right: 20px;
}
.itemtransfermarket__details_minor {
	display: flex;
	flex-direction: row;
	color: white;
	font-size: 17px;
}
.itemtransfermarket__details_minor h4 {
	margin-right: 5px;
	color: rgb(196, 247, 80);
}
